#mainLogin {
    font-size: 1.6rem;
    min-height:  90%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    >section form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        input{
            width: max-content;
        }
    }
}
@media only screen and (max-width:768px){
    #mainLogin{
        flex-direction: column;
        section{
            width: 90%;
        }
    }
}